/*
|--------------------------------------------------------------------------
| Grid Layout
|--------------------------------------------------------------------------
*/

.grid {

    display: grid;

}

.grid-auto-fit {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 1.5rem;

}

.grid-two-columns {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;

}

.grid-three-columns {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 1.5rem;

}

.grid-four-columns {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 1.5rem;

}