@use '../../../styles' as *;

.sidebar {
  display: flex;

  flex-direction: column;

  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $primary;

  color: white;

  transition: all 0.25s ease;
}

.brand {
  display: flex;

  align-items: center;

  gap: 16px;

  height: 72px;

  padding: 0 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  transition: padding 0.25s ease;
}

.brand__logo {
  width: 40px;

  height: 40px;

  flex-shrink: 0;
}

.brand__text {
  overflow: hidden;

  white-space: nowrap;

  transition:
    opacity 0.2s ease,
    width 0.2s ease;
}

.navigation {
  display: flex;

  flex-direction: column;

  padding: 16px;

  gap: 8px;
}

.navigation__item {
  display: flex;

  align-items: center;

  gap: 16px;

  padding: 14px 18px;

  border-radius: 12px;

  color: white;

  text-decoration: none;

  transition: 0.2s;
}

.navigation__item:hover {
  background: rgba(255, 255, 255, 0.08);
}

.navigation__item.active {
  background: white;
  display: flex;
  color: $primary;
  align-items: center;
  font-weight: 600;
}

.material-symbols-rounded {
  font-size: 22px;
}

.navigation__item .material-symbols-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: 22px;
  line-height: 1;
}

/* ---------------------------------- */
/* States */
/* ---------------------------------- */
.brand {
  transition: 0.25s;
}

.navigation__item {
  transition: 0.2s;
}

.sidebar--collapsed{

    .navigation{

        display:flex;

        flex-direction:column;

        align-items:center;

    }

    .navigation__item{

        width:48px;

        height:48px;

        padding:0;

        justify-content:center;

        align-items:center;

        margin:0 auto;

    }

    .navigation__item span:last-child{

        display:none;

    }

    .brand{

        justify-content:center;

        padding:0;

    }

    .brand__text{

        display:none;

    }

}
